<html lang="en">
  <%- include('./partials/headDashboard.ejs') %>

<body>
  <%- include('./partials/navDashboard.ejs') %>

  
  <div class="main">

    <% errors.forEach(function(message){ %>
      <div class="alert alert-danger text-center"><%= message %></div>
      <% }) %>
      <hr>
      <h3>Create a Post</h3>
      <hr>
      <form class="profile-editor-form-loginDashboard" action="/createBlogPost" method="post">
        <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= session_data.registerEmail %>" name="registerEmail">
        <input type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="waiting" name="status">
        <table class="table table-sm table-dark">
          <tbody>

            <tr>
              <div class="form-group">
                <th><label for="exampleInputEmail1">Image Link(optional)</label></th>
                <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Paste your image link, right click on the image and select 'copy image address'" name="imageAddress" ></td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <th><label for="exampleInputEmail1">Blog Heading</label></th>
                <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write your blog heading....." name="blogHeading" required value=""></td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <th><label for="exampleInputEmail1">Blog Body</label></th>
                <td><textarea type="text" class="form-control blog-body-textarea-createBlogPost" aria-describedby="emailHelp" placeholder="Enter the blog description here....." name="blogBody" required></textarea></td>
              </div>
            </tr>
       
            <tr>
              <th></th>
              <td><button type="submit" class="btn btn-primary form-submit-of-loginDashboard">Save Post</button>
              </td></td>
            </tr>
    
    
          </tbody>
        </table>  
      </form>
      
      
      <hr>


      <h3>Your posted Blogs</h3>
      <hr>
      <div id="posted-blogs-on-createBlogPost">
        <% previous_posts.forEach((post)=>{  %>
        <div class="card mb-3">
            <img class="card-img-top" src="<%= post.imageAddress %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= post.blogHeading %></h5>
              <p class="card-text"><%= post.blogBody %></p>
              <p class="card-text"><small class="text-muted">Posted By: <%= post.registerEmail %></small> <br> 
              Status: <%= post.status %>
              </p>
              <a href="/edit/post/<%= post._id %>"><button type="submit" class="btn btn-primary form-submit-of-loginDashboard">Edit Post</button></a>
              <a href="/delete/post/<%= post._id %>"><button  class="btn btn-primary form-submit-of-loginDashboard">Delete Post</button></a>
              
              
            </div>
          </div>
          <%  }) %>
      </div>
      

      
      


      
  </div>


  <script src="../public/js/createBlogPost.js"></script>
</body>

</html>