<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<%- include('./partials/portalHead.ejs') %>
<body>
    <div id="wrapper">
<%- include('./partials/portalNav.ejs') %>

<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
             <h2>Blank Page</h2>   
            </div>
        </div>              
         <!-- /. ROW  -->
          <hr />
      <div id="blogs">
        <% result.forEach((item)=>{ %>
        <div class="card col-md-4 blogItem">
        <img class="card-img-top" src="<%= item.image %>" alt="<%= item.image %>">
        <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text"><%= item.body %></p>
            <a href="#" class="btn btn-primary" onclick="editBlog('<%= item._id %>')">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
            <a href="#" class="btn btn-primary">View Full Article</a>
        </div>
        </div>        
       

        <% }) %>

      </div>
         <!-- /. ROW  -->           
</div>
     <!-- /. PAGE INNER  -->
    </div>
 <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
    <%- include('./partials/portalJSFiles.ejs') %>


</body>
</html>
